@namespace DrBlazor
@inherits DrComponentBase

<DrTeleport To="DrModals" Disabled="@(!_open)">
    @if (Dismissible)
    {
        <div class="dr-overlay" @onclick="CloseAsync">
        </div>
    }
    <div @ref="_ref" @attributes="_attributes">
        @ChildContent
    </div>
</DrTeleport>