@namespace DrBlazor
@inherits DrComponentBase

<Popover @bind-Open="_open"
         GetControl="@(() => _ref)"
         FlipToFit
         DisableArrow
         Direction="Direction.Top"
         Margin="8">
    <div class="dr-tooltip secondary-container shape-small body-medium" style="padding: 8px 12px;">
        @DrTooltipContent
    </div>
</Popover>

@*  https://github.com/dotnet/aspnetcore/pull/40829
    FIXME: remove this piece of code when Blazor implements `onmouseenter` and `onmouseleave`
    I'm setting the events on JS because `onmouseover` and `onmouseout` causes the tooltip to blink
    when you move the mouse *@
<span @ref="_ref">
    @ChildContent
</span>
