@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

:root {
  --dr-color-primary-0: #000;
  --dr-color-primary-10: #21005d;
  --dr-color-primary-20: #381e72;
  --dr-color-primary-30: #4f378b;
  --dr-color-primary-40: #6750a4;
  --dr-color-primary-50: #7f67be;
  --dr-color-primary-60: #9a82db;
  --dr-color-primary-70: #b69df8;
  --dr-color-primary-80: #d0bcff;
  --dr-color-primary-90: #eaddff;
  --dr-color-primary-95: #f6edff;
  --dr-color-primary-99: #fffbfe;
  --dr-color-primary-100: #fff;

  --dr-color-secondary-0: #000;
  --dr-color-secondary-10: #1d192b;
  --dr-color-secondary-20: #332d41;
  --dr-color-secondary-30: #4a4458;
  --dr-color-secondary-40: #625b71;
  --dr-color-secondary-50: #7a7289;
  --dr-color-secondary-60: #958da5;
  --dr-color-secondary-70: #b0a7c0;
  --dr-color-secondary-80: #ccc2dc;
  --dr-color-secondary-90: #e8def8;
  --dr-color-secondary-95: #f6edff;
  --dr-color-secondary-99: #fffbfe;
  --dr-color-secondary-100: #fff;

  --dr-color-tertiary-0: #000;
  --dr-color-tertiary-10: #31111d;
  --dr-color-tertiary-20: #492532;
  --dr-color-tertiary-30: #633b48;
  --dr-color-tertiary-40: #7d5260;
  --dr-color-tertiary-50: #986977;
  --dr-color-tertiary-60: #b58392;
  --dr-color-tertiary-70: #d29dac;
  --dr-color-tertiary-80: #efb8c8;
  --dr-color-tertiary-90: #ffd8e4;
  --dr-color-tertiary-95: #ffecf1;
  --dr-color-tertiary-99: #fffbfa;
  --dr-color-tertiary-100: #fff;

  --dr-color-error-0: #000;
  --dr-color-error-10: #410e0b;
  --dr-color-error-20: #601410;
  --dr-color-error-30: #8c1d18;
  --dr-color-error-40: #b3261e;
  --dr-color-error-50: #dc362e;
  --dr-color-error-60: #e46962;
  --dr-color-error-70: #ec928e;
  --dr-color-error-80: #f2b8b5;
  --dr-color-error-90: #f9dedc;
  --dr-color-error-95: #fceeee;
  --dr-color-error-99: #fffbf9;
  --dr-color-error-100: #fff;

  --dr-color-neutral-0: #000;
  --dr-color-neutral-10: #1c1b1f;
  --dr-color-neutral-20: #313033;
  --dr-color-neutral-30: #484649;
  --dr-color-neutral-40: #605d62;
  --dr-color-neutral-50: #787579;
  --dr-color-neutral-60: #939094;
  --dr-color-neutral-70: #aeaaae;
  --dr-color-neutral-80: #c9c5ca;
  --dr-color-neutral-90: #e6e1e5;
  --dr-color-neutral-95: #f4eff4;
  --dr-color-neutral-99: #fffbfe;
  --dr-color-neutral-100: #fff;

  --dr-color-neutral-variant-0: #000;
  --dr-color-neutral-variant-10: #1d1a22;
  --dr-color-neutral-variant-20: #322f37;
  --dr-color-neutral-variant-30: #49454f;
  --dr-color-neutral-variant-40: #605d66;
  --dr-color-neutral-variant-50: #79747e;
  --dr-color-neutral-variant-60: #938f99;
  --dr-color-neutral-variant-70: #aea9b4;
  --dr-color-neutral-variant-80: #cac4d0;
  --dr-color-neutral-variant-90: #e7e0ec;
  --dr-color-neutral-variant-95: #f5eefa;
  --dr-color-neutral-variant-99: #fffbfe;
  --dr-color-neutral-variant-100: #fff;

  /* light theme */
  --dr-theme-light-primary: var(--dr-color-primary-40);
  --dr-theme-light-on-primary: var(--dr-color-primary-100);
  --dr-theme-light-primary-container: var(--dr-color-primary-90);
  --dr-theme-light-primary-on-container: var(--dr-color-primary-10);
  --dr-theme-light-secondary: var(--dr-color-secondary-40);
  --dr-theme-light-on-secondary: var(--dr-color-secondary-100);
  --dr-theme-light-secondary-container: var(--dr-color-secondary-90);
  --dr-theme-light-secondary-on-container: var(--dr-color-secondary-10);
  --dr-theme-light-tertiary: var(--dr-color-tertiary-40);
  --dr-theme-light-on-tertiary: var(--dr-color-tertiary-100);
  --dr-theme-light-tertiary-container: var(--dr-color-tertiary-90);
  --dr-theme-light-tertiary-on-container: var(--dr-color-tertiary-10);
  --dr-theme-light-error: var(--dr-color-error-40);
  --dr-theme-light-on-error: var(--dr-color-error-100);
  --dr-theme-light-error-container: var(--dr-color-error-90);
  --dr-theme-light-error-on-container: var(--dr-color-error-10);

  --dr-theme-light-background: var(--dr-color-neutral-99);
  --dr-theme-light-on-background: var(--dr-color-neutral-10);
  --dr-theme-light-surface: var(--dr-color-neutral-99);
  --dr-theme-light-on-surface: var(--dr-color-neutral-10);

  --dr-theme-light-surface-variant: var(--dr-color-neutral-variant-10);
  --dr-theme-light-on-surface-variant: var(--dr-color-neutral-variant-30);
  --dr-theme-light-outline: var(--dr-color-neutral-variant-50);

  /* dark theme */
  --dr-theme-dark-primary: var(--dr-color-primary-80);
  --dr-theme-dark-on-primary: var(--dr-color-primary-20);
  --dr-theme-dark-primary-container: var(--dr-color-primary-30);
  --dr-theme-dark-primary-on-container: var(--dr-color-primary-90);
  --dr-theme-dark-secondary: var(--dr-color-secondary-80);
  --dr-theme-dark-on-secondary: var(--dr-color-secondary-20);
  --dr-theme-dark-secondary-container: var(--dr-color-secondary-30);
  --dr-theme-dark-secondary-on-container: var(--dr-color-secondary-90);
  --dr-theme-dark-tertiary: var(--dr-color-tertiary-80);
  --dr-theme-dark-on-tertiary: var(--dr-color-tertiary-20);
  --dr-theme-dark-tertiary-container: var(--dr-color-tertiary-30);
  --dr-theme-dark-tertiary-on-container: var(--dr-color-tertiary-90);
  --dr-theme-dark-error: var(--dr-color-error-80);
  --dr-theme-dark-on-error: var(--dr-color-error-20);
  --dr-theme-dark-error-container: var(--dr-color-error-30);
  --dr-theme-dark-error-on-container: var(--dr-color-error-90);

  --dr-theme-dark-background: var(--dr-color-neutral-10);
  --dr-theme-dark-on-background: var(--dr-color-neutral-90);
  --dr-theme-dark-surface: var(--dr-color-neutral-10);
  --dr-theme-dark-on-surface: var(--dr-color-neutral-90);

  --dr-theme-dark-surface-variant: var(--dr-color-neutral-variant-30);
  --dr-theme-dark-on-surface-variant: var(--dr-color-neutral-variant-80);
  --dr-theme-dark-outline: var(--dr-color-neutral-variant-60);

  /* TODO: define surfaces light */
  /* TODO: define surfaces dark  */
}

