@inherits LayoutComponentBase

@using DrBlazor

@inject DrConfig Config

<DrLayout Drawer="DrawerType.Standard">
    <DrTopAppBar @bind-DrawerOpen="_open" BarStyle="TopAppBarStyle.Small" LeadingIcon="menu"
        LeadingIconActivated="menu_open" />

    <DrDrawer></DrDrawer>

    <DrMainContent>
        @Body
    </DrMainContent>

    <div style="z-index: 1000;">
        <DrTeleportSpot Name="DrModals" />
    </div>
</DrLayout>
@*
<DrGrid>
    <DrGridItem Columns="12" Value="1">
        <div style="background-color: red;">
            Diego
        </div>
    </DrGridItem>

    <DrGridItem Grow="@(!_grow)" Value="2">
        <div style="background-color: yellow;">
            Luis
        </div>
    </DrGridItem>

    <DrGridItem Grow="_grow" Value="3">
        <div style="background-color: blue;">
            Rocha
        </div>
    </DrGridItem>
</DrGrid>
<button @onclick="ToggleGrow">
    Toggle Grow
</button> *@

@code {
    private bool _open = false;
    private bool _grow = true;

    void ToggleGrow()
    {
        _grow = !_grow;
    }
}