@page "/"

@using DrBlazor
@using DrBlazor.TestWasmApp.Components

<PageTitle>DrWasmTest</PageTitle>

<DrFlex Column Gap="2rem">
    <DrFlexItem>
        <TestTeleport> </TestTeleport>
    </DrFlexItem>

    <DrFlexItem>
        <DrDivider></DrDivider>
    </DrFlexItem>

    <DrFlexItem>
        <TestDialog> </TestDialog>
    </DrFlexItem>
</DrFlex>

<DrPopover @ref="popover"
         Margin="10"
         FlipToFit
         DisableArrow
         Direction="Direction.Bottom">
        <DrContainer>
            <div style="max-width: 280px;">
                <h4>Basic dialog title</h4>
                <p>
                    A dialog is a type of modal window that appears in front of app content
                    to provide critical information or prompt for a decision to be made.
                </p>
                <DrTooltip>
                    <DrTooltipContent>
                        A nested tooltip inside the popover
                    </DrTooltipContent>
                    <ChildContent>
                        Hover it to show a tooltip
                    </ChildContent>
                </DrTooltip>
            </div>
        </DrContainer>
</DrPopover>

<div style="margin-top: 4rem;">
    <DrTooltip>
        <DrTooltipContent>
            This is a tooltip very nice!
        </DrTooltipContent>
        <ChildContent>
            Hover it to show a tooltip
        </ChildContent>
    </DrTooltip>
</div>

<div style="display: flex; justify-content: start; margin: 4rem 0;">
    <button @ref="_ref" @onclick="TogglePopover">Open Popover</button>
</div>

@code {
    DrPopover popover;

    public int value = 100;

    public ElementReference _ref;
    bool _open = false;

    private async Task TogglePopover()
    {
        if (popover.IsVisible)
        {
            await popover.CloseAsync();
        }
        else
        {
            await popover.ShowAsync(_ref);
        }
    }
}

<style>
    .card {
        padding: 1rem;
        background-color: cyan;
    }
</style>