.dr-popover-provider {
  position: absolute;
  display: none;

  z-index: 1000;
  height: 100vh;
  width: 100vw;

  pointer-events: none;
}

.dr-overlay {
  height: 100vh;
  width: 100vw;
  pointer-events: all;
}

div[data-dr-popover-provider-visible="true"] {
  display: block;
}

div[data-dr-popover-provider-visible="false"] {
  display: none;
}

div[data-dr-popover-visible="false"] {
  display: none;
}

div[data-dr-popover-visible="true"] {
  position: relative;
  display: block;

  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;

  background-color: white;
}

/* Arrow */
div[data-dr-popover-visible="true"][data-dr-popover-arrow]::after,
div[data-dr-popover-visible="true"][data-dr-popover-arrow]::before {
  content: "";
  position: absolute;

  width: 0;
  height: 0;

  border-color: transparent;
  border-style: solid;
}

div[data-dr-popover-visible="true"][data-dr-popover-placement="top"]::before,
div[data-dr-popover-visible="true"][data-dr-popover-placement="top"]::after {
  border-width: 5px 5px 0 5px;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}

div[data-dr-popover-visible="true"][data-dr-popover-placement="top"]::after {
  border-top-color: white;
  bottom: -5px;
}

div[data-dr-popover-visible="true"][data-dr-popover-placement="bottom"]::before,
div[data-dr-popover-visible="true"][data-dr-popover-placement="bottom"]::after {
  border-width: 0 5px 5px 5px;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

div[data-dr-popover-visible="true"][data-dr-popover-placement="bottom"]::after {
  border-bottom-color: white;
  top: -5px;
}

div[data-dr-popover-visible="true"][data-dr-popover-placement="left"]::before,
div[data-dr-popover-visible="true"][data-dr-popover-placement="left"]::after {
  border-width: 5px 0 5px 5px;
  border-left-color: rgba(0, 0, 0, 0.2);
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}

div[data-dr-popover-visible="true"][data-dr-popover-placement="left"]::after {
  border-left-color: white;
  right: -5px;
}

div[data-dr-popover-visible="true"][data-dr-popover-placement="right"]::before,
div[data-dr-popover-visible="true"][data-dr-popover-placement="right"]::after {
  border-width: 5px 5px 5px 0;
  border-right-color: rgba(0, 0, 0, 0.2);
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
}

div[data-dr-popover-visible="true"][data-dr-popover-placement="right"]::after {
  border-right-color: white;
  left: -5px;
}
