@namespace DrBlazor
@inherits DrComponentBase

<DrTeleport To="#app">
    @if (Dismissible)
    {
        <div class="dr-overlay" @onclick="@Close" style="@("display:" + (Open ? "block" : "none"))">
            <div @ref="Ref" @attributes="_attributes">
                @ChildContent
            </div>
        </div>
    }
    else
    {
        <div @ref="Ref" @attributes="_attributes">
            @ChildContent
        </div>
    }
</DrTeleport>