@namespace DrBlazor
@inherits DrComponentBase

<DrTeleport To="DrModals" Disabled="@(!_open)">
    @if (Dismissible)
    {
        <div class="dr-overlay" @onclick="CloseAsync" style="@("display:" + (_open ? "block" : "none"))">
        </div>
    }
    <div @ref="_ref" @attributes="Attributes">
        @ChildContent
    </div>
</DrTeleport>