@namespace DrBlazor
@inherits DrComponentBase

<DrTeleport To="DrModals" Disabled="@(!_open)">
    @if (Dismissible)
    {
        <DrOverlay OnClose="CloseAsync"></DrOverlay>
    }
    <div @ref="_ref" @attributes="Attributes">
        @ChildContent
    </div>
</DrTeleport>
