<div id="drocha-popover-provider" class="drocha-popover-provider">
    @if (PopoverSvc is not null)
    {
        @foreach (var fragment in PopoverSvc.Fragments)
        {
            <div data-drocha-popover-id="@fragment.Key" style="position:absolute; width: fit-content;">
                @fragment.Value
            </div>
        }
    }
</div>