<div id="drocha-popover-provider" class="drocha-popover-provider">
    @if (PopoverSvc is not null)
    {
        @foreach (var fragment in PopoverSvc.Fragments)
        {
            <div id="@($"drocha-popover-{fragment.Key}")" class="drocha-popover-close">
                @fragment.Value
            </div>
        }
    }
</div>