@use "core/theme" as *;

@use "core/elevation";
@use "core/shape";

.dr-dialog {
  @include shape.shape-medium;
  @include elevation.z-depth(3);

  position: absolute;
  width: fit-content;

  color: $md-sys-color-on-surface;
  background-color: $md-sys-color-surface;
}

div[data-dr-dialog-visible] {
  position: relative;
  padding: 8px;
}
