.dr-layout {
    // min-width: 100vw;
    min-height: 100vh;
}

.dr-main-content {
    width: 100%;
    height: 100%;
}


.dr-layout-topbarapp-container {
    height: fit-content;
}

.dr-drawer-standard-container {

}