@page "/"

@using Drocha.Blazor.Components.Popover
@using Drocha.Blazor.Components.Tooltip

<PageTitle>Index</PageTitle>

<Popover GetControl="@(() => _ref)" @bind-Open="_open" >
    <div class="card">
        I'm a popover uhulll
    </div>
</Popover>

<div >
    <h1 >Hello, world!</h1>
</div>

<Tooltip>
    <TooltipContent>
        This is a tooltip very nice!
    </TooltipContent>
    <ChildContent>
        <div>
            Welcome to your new app.
        </div>
    </ChildContent>
</Tooltip>

<SurveyPrompt Title="How is Blazor working for you?" />

<div style="display: flex; justify-content: start;">
    <button @ref="_ref" @onclick="@(() => _open = !_open)">Click Me</button>
</div>

@code {
    public ElementReference _ref;
    bool _open = false;
}

<style>
    .card {
        padding: 1rem;
        background-color: cyan;
    }
</style>